<section class="row-fluid">
<section class="span8">
	<h2><span>IMEKO</span> International Measurement Confederation</h2>
			
				
			IMEKO is a non-governmental federation of 39 Member Organizations individually concerned with the  advancement of measurement technology.
			 Its fundamental objectives are the promotion of international interchange of scientific and technical information in the field of measurement and instrumentation and the enhancement of international cooperation among scientists and engineers from research and industry.

			Founded in 1958, the Confederation has consultative status with
			UNESCO and UNIDO and is one of the five Sister Federations within FIACC:
			Five International Associations Co-ordinating Committee, further consisting of:<br />
<br />
IFAC- International Federation of Automatic Control<br />
IFIP - International Federation for Information Processing<br/>
IFORS - International Federation of Operational Research Societies<br />
IMACS - International Association for Mathematics and Computers in Simulation
			
</section>

<section class="span4">
	sfagdsgdsgdsgdsgsdgdsgsdgsd
	fd sfskjf gksghkjfhgjkdh gdfg jdgd
</section>
</section>